@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
    font-size: 15px;
    display: grid;
    grid-template-areas: "Header" "Body" "Footer";
    font-family: 'Tajawal', sans-serif;
    direction: rtl;}

   header {
      grid-area:Header;
    }
    section .all-content {
      grid-area:Body;
    }
   footer {
      grid-area:Footer;
    }

.btn5{width: 26px;
  border: none;
  background-color: #fff;
cursor: pointer;}

.cart{    background-color: #eff2f7;
  border-radius: 50%;
  /* text-align: center; */
  padding: 7px;
  margin: 2em 2em;
  transform: rotateY(180deg);}



    .sar{    display: flex;
  /* margin: 6em 2em; */
  position: absolute;
  margin: 43em 74em;}
    .container8{width: 100%;
      position: relative;
  display: flex;
justify-content: space-around;
margin-top: 20vh;
margin-right: 10px;
margin-left: 10px;}


/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;

  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}


/*hidden slider*/



.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.hidsid{display: none;
  margin: -215em 9em;
}

.slideshow-container {    margin-top: -4em;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  margin-right: 49em;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 28px;
  width: 100%;

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 0 2px;
background-color: #8C9399;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.overlay{
  position: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.39);
  z-index: 22;
}
/*log in */

.form-container {
  z-index: 222;
  max-width: 300px;
  padding: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
 a{text-decoration: none;
cursor: pointer;}
.form-container .btn8 {
  background-color:red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.circle,.circle2,.circle3,.circle4,.circle5,.circle6,.circle7{
  margin-right: -1em;
  margin-top: -11em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}
.btn9{  background-color:#fff;
  color: #000;
  padding: 16px 20px;
margin: 2em;
 
  cursor: pointer;
 
  margin-bottom:10px;
  opacity: 0.8;}
  .btn10{background-color:#E5EAF5;
    color: #8C9399;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}
.contact {
  z-index: 20;
  display: none;
   position: absolute;
    width: 100%;
    height: 100%;
  
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
  }
  .contact2 {
    z-index: 20;
    display: none;
     position: absolute;
      width: 100%;
      height: 100%;
    
      justify-content: center;
      align-items: center;
      padding: 20px 100px;
    }
/*.hide{
  visibility: visible;
opacity: 1;}
a{text-decoration: none;}
.contact {
  
display: none;
 position: absolute;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.contact:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  background: url("xxx.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 40px;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn:hover {
  background-color: #27ae60;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}
.error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
  border-color: #ff3860;
}

.input-control {
  display: flex;
  flex-direction: column;
}*/

/*.btn {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid rgb(84, 84, 247);
  background: transparent;
  color: #000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 2;
}*/


 



/*new slider*/


.slider-container {
 background-color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
/*@keyframes x{
  0%{right: 0;}
  30%{right: 200px;}
  60%{right: 400px;}
  100%{right: 600px;}
}*/
.slider {
  
  /*width: 100%;
  max-width: 600px;*/
  width: 1000px;
  height: 400px;
  margin:  11px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.slides { 
  
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide:nth-of-type(even) {
  background-color: rgb(250, 246, 212);
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 400px;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  background: white;
  transform-origin: center center;
  transform: scale(1);
}



.slide a {
  background: none;
  border: none;
}

a.slide__prev,
.slider::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
}

a.slide__next,
.slider::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid rgb(179, 179, 179);
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

.slider::before,
.slider::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}

.slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slider__navlink {
  display: inline-block;
  height: 15px;
  width: 15px;
 
  background-color: rgb(179, 179, 179);
  margin: 0 10px 0 10px;
}


.container{
background-color: #FAFCFE;
height: 3em;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr ;
   
}
.svg-inline--fa.fa-w-16 {
  width: 2em;
}
.box{    border: 1px solid rgb(245, 238, 238);
  text-align: center;
  padding-top: 1em;
  direction: ltr;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, [col] 370px ) ;
  grid-template-rows: repeat(2, [row] 100px  );
  background-color: #fff;
  color: #444;
  justify-content: center;
}

.box3 {
  background-color: #8C9399;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;

}

.a {
 

  grid-column: col ;
  grid-row: row ;
  
}
.b {
  grid-column: col 2 ;
  grid-row: row ;
}
.c {
  grid-column: col 3;
  grid-row: row ;
}
.d {
  grid-column: col 4 ;
  grid-row: row ;
}


.e {
  grid-column: col / span 4;
  grid-row: row 2;
}


.sertch{    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -8em;}

.img1{          margin-left: 4em;}


/*.btn{    border-radius: 50%;
  background-color: #E6EBF3;
  border: none;
  padding: 2em;
  margin-top: -33em;
  margin-left: 4em;
  margin-right: 4em;}*/



  .catogrey{
    width: 95%;
    margin: auto;
    margin-top: 17px;
  }
  .categorey>h1 {
    color: darkred;
}
  .boxes{ display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;}
  .card{
    
    height: 100px;
    width: 100px;
    background-color: #FFF;
    box-shadow: 0 0 10px;
    text-align: center;
    padding: 36px;
    margin: 10px;
    border-radius: 5px;}
    .card img {
      border-radius: 50%;
  }
  
  .card h2 {
      color: darkred;
      font-family: inherit;
      font-weight: bold;
      font-size: inherit;
      margin: -9em -2em;
  }
  

/*nav{display: flex;
    align-items: center;
    justify-content: center;
   
}

nav ul{display: flex;
    justify-content: space-between;
    background-color: rgb(red, rgb(245, 250, 245), blue);
}
nav a{
    text-decoration: none;
    margin:2em;
    padding:5em 2em;
    align-items: center;
    justify-content: center;
    
   
}
ul{list-style: none;}
li{ border: 1px solid #000;}*/

/*.p4{
  margin: 0em -29em;
  display: flex;
  flex-direction: column;
}*/

.bord{display: flex;
flex-direction: column;
}

/*الاقسام*/



/*footer {
  
  position: absolute;
    height: 300px;
    color:#A4A4A4;
    background-color: #323333;
    padding: 20px;
    padding-top: 50px;

    margin-top: 4589px;
    direction: ltr;
  }
  .p4{flex-basis: 20%;
  padding: 5px;
direction: rtl;
color: #A4A4A4;;}
  .up {
    display: flex;
   
    justify-content: space-between;
    margin-top: -2em;
  }
  .dwn {
    display: flex;
    justify-content: center;
  }
.bord{
  background-color: #484848;
  height: 150px;
  width: 330px;
  border-radius: 20px;
  
}

.subfooter{
  display: flex;
  background-color: #E6E7E7;
  direction: ltr;
    display: flex;
height: 120px;
margin: 2.5em -1em;
}
.subfooter1{
  margin: 2em 2em;
  display: flex;
  flex-direction: column;
  
}
.subfooter2{
  display: flex;
  margin: 2em 30em;
  
}
.subfooter1 p{

  font-size: 14px;
  color: #848180;
 }

*/

 .img2{height: 70px;
  margin: .2em;
width: 80px;}

.sertch{direction: ltr;}
.boxcontainer{    border-radius: 50px;
 background-color: #eff2f7;
  height: 42px;
  width: 745px;
  padding: 0px 10px;
  direction: rtl;
  margin-top: -1em;
  /* margin-top: 5em; */
  margin-left: 0em;
}
.element{width: 100%;
height: 100%;}
.search1{
  background-color: #eff2f7;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
}
.search1:focus{outline: none;}


/*search2*/

.boxcontainer1{    border-radius: 50px;
  border-radius: 50px;
  /* height: 43px; */
  height: 40px;
  width: 120px;
  width: 258px;
  padding: 0px 10px;
  margin-top: 5em;
 
  margin-left: 2em;
  direction: rtl;
  margin-left: 3em;
  MARGIN-TOP: 1em;}
.element1{width: 100%;
height: 100%;
background-color:#FAFCFE;
border-radius: 5px;
width: 280px;}
.btn2{padding: .1em .1em;
  margin: 1em;
  width: 64px;
  height: 40px;
  border-radius: 12px;
border: none;}
.search2{

    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
}
.search2:focus{outline: none;}

/*عروض حالية*/

.now {
  width: 95%;
  margin: auto;
  margin-top: 33px;
}
.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}


.now>h1 {
  color: #333232;
}

.berd {
  background-color: #FFF;
  box-shadow: 0 0 5px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  position: relative;
}



.berd .two h2 {
  color: red;
}

.berd .two h2 sub {
  font-size: 13px;
  font-weight: lighter;
}

.berd .three {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.berd .three .origin {
  background-color: red;
  border-radius: 50%;
  padding: 2px;
}


/* Footer Styling Section  */

ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  padding: 0;
}
/* ------------------- header -------------------- */
.links {
  display: flex;
  justify-content: space-between;
  color: #646465;
  background-color: #f9fafc;
  flex-direction: row-reverse;
  border: 1px #ccc solid;
  margin: 0;
}
.links li {
  border-right: 1px solid #ccc;
  padding: 4px;
  display: flex;
  align-items: center;
}
.links a {
  padding-right: 10px;
}
.links object {
  width: 20px;
  padding: 0 3px;
}
@media (min-width: 940px) and (max-width: 1140px) {
  .links a {
    font-size: 11px;
  }
  .links object {
    padding: 0 5px;
  }
}

/*عروض*/

.perd {
}
.perd .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 9em;
}
.perd .head p {
  font-weight: bold;
  font-size: 1.5rem;
}
.perd a {
  color: #0052cc;
}
.perd .bags {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin: 10px 151px;
}
.perd .bag {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 30%);
  border-radius: 5px;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
}
.perd .bag > img {
  width: 220px;
  height: 240px;
}
.perd .bag .type {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.perd .bag .type span {
  font-weight: bold;
  margin-right: 5px;
}
.perd .bag .title {
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  color: #aaa;
  height: 2.5rem;
}
.perd .price {
  color: red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.perd .price p {
  margin: 0;
}
.perd .price p:first-child {
  font-size: 1.7rem;
  font-weight: bold;
}
.perd .price p:last-child {
  margin-bottom: 6px;
  font-size: 0.7rem;
}
.perd p.other {
  height: 1rem;
}
.perd .options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}
.perd .options img:not(:nth-child(2)) {
  width: 25px;
}
.perd .options img:nth-child(2) {
  width: 45px;
}

/*footer*/

footer {
  color: #a3a3a3;
}
footer ul {
  width: 17%;
}
footer .upper-part {
  position: absolute;
    width: 100%;
   bottom: -273em;
    background-color: #333;
    padding: 21px 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;}
footer li {
  padding-top: 8px;
}
footer a {
  color: #a3a3a3;
  font-size: 0.9rem;
}
footer h3 {
  margin: 0;
  border-bottom: 1px solid #424242;
}
footer .posts {
  margin-block: 1rem;
  width: 22%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .posts .contact-us {
  /* position: absolute;
  bottom: 30px;
  width: 100%; */
}
.contact-us img {
  margin-top: 6px;
  width: 30px;
}
footer .posts form {
  margin-top: 10px;
  background-color: #484848;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer input[type="search"] {
  padding: 8px;
  width: 100%;
  border: none;
  background-color: #eff2f7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer input[type="submit"] {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer .call-us {
  color: white;
}
footer .lower-part {
  position: absolute;
 bottom: -325em;
  width: 100%;
  direction: ltr;
  font-size: 0.8rem;
  padding: 15px 35px 30px 0;
  padding-left: 35px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .lower-part .pay-methods {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  margin: 0em 75em;
}
footer .lower-part .img {
  width: 60px;
}
footer .lower-part img {
  max-width: 100%;
}
footer .white-card {
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 930px) {
  footer .lower-part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .lower-part .pay-methods {
    margin-right: 0;
  }
}
/*login*/
.logIn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 43%;
  margin: auto;
  transform: translateY(15%);
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;
  position: absolute;
  left: 30%;
  z-index: 111;
}
.logIn > button {
  width: 25px;
  height: 25px;
  background-color: #d4050c5e;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  top: 3px;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.logIn > button:hover {
  background-color: #d4050b;
}
.logIn img {
  max-width: 100%;
}

h2 {
  box-shadow: 0px 12px 3px -13px black;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}
input[type="text"],
input[type="password"] {
  background-color: #eff2f7;
  border: none;
  margin-bottom: 5px;
  width: 73%;
  padding: 7px;
  border-radius: 3px;
  font-size: 1.3rem;
}
input[type="text"]:focus-visible,
input[type="password"]:focus-visible {
  outline: none;
}
.password {
  position: relative;
  width: 100%
}
.forgot {
  text-decoration: none;
  color: #3e65a2;
  font-weight: bold;
  position: absolute;
  top: 8px;
  left: 16%;
}
.logIn input[type="submit"] {
  background-color: #d4050b;
  color: white;
  border: none;
  padding: 8px 0;
  border-radius: 3px;
  font-family: "Tajawal", sans-serif;
  width: 73%;
  transition: 0.5s;
}
 .logIn input[type="submit"]:hover {
  background-color: #5c0005;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  position: absolute;
  top: 0px;
  right: 3px;
  font-family: "Tajawal", sans-serif;
  font-size: 0.7rem;
}
.create-account {
  margin-top: 30px;
}
.create-account button {
  border: none;
  padding: 10px 50px;
  background: white;
  box-shadow: 0px 5px 10px 1px rgb(0 0 0 / 20%);
  border-radius: 3px;
  font-family: "Tajawal";
  transition: 0.5s;
  cursor: pointer;
}
.create-account button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

p {
  margin-bottom: 0.3rem;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.704);
  transition: 0.5s;
  z-index: 11;
}
#show-dialog {
  /* position: absolute; */
  /* z-index: 111; */
}
.hide {
  display: none;
}

/*sign up*/

.signUp a {
  text-decoration: none;
  color: #0052cc;
}
.signUp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 30%;
  margin: auto;
  transform: translateY(-4%);
  background-color: white;
  position: absolute;
  left: 30%;
  z-index: 111;
  border-radius: 5px;
  padding-bottom: 20px;
}
.signUp > button {
  width: 25px;
  height: 25px;
  background-color: #d4050c5e;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  top: 3px;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.signUp > button:hover {
  background-color: #d4050b;
}
.signUp img {
  max-width: 100%;
}

.signUp h2 {
  margin-top: 0;
  box-shadow: 0px 12px 3px -13px black;
  padding: 20px;
}



.signUp #countryCode {
  border: none;
  background-color: #eff2f7;
  padding: 11px;
  border-radius: 5px;
  width: 27%;
  margin-bottom: 5px;
}
.signUp .phone-number {
  width: 77%;
  display: flex;
  justify-content: space-between;
}
#phone {
  width: 65%;
}
.signUp form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}
.signUp input[type="number"],
.signUp input[type="text"],
.signUp input[type="email"] {
  background-color: #eff2f7;
  border: none;
  margin-bottom: 5px;
  width: 73%;
  padding: 7px;
  border-radius: 3px;
  font-size: 1rem;
}
.signUp input[type="text"]:focus-visible,
.signUp input[type="number"]:focus-visible,
.signUp input[type="email"] {
  outline: none;
}
.signUp .password {
  position: relative;
}
.signUp .forgot {
  text-decoration: none;
  color: #3e65a2;
  font-weight: bold;
  position: absolute;
  top: 8px;
  left: 10px;
}
.signUp input[type="text"]::placeholder,
.signUp input[type="email"]::placeholder {
  position: absolute;
  top: 0px;
  right: 3px;
  font-family: "Tajawal", sans-serif;
  font-size: 0.7rem;
}
.signUp input[type="number"]::placeholder {
  font-family: "Tajawal", sans-serif;
}
.signUp label {
  display: inline-block;
  font-size: 0.8rem;
  color: #5f6263;
}
.signUp .check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 76%;
  margin-top: 3px;
  /* margin-bottom: 5px; */
}
.signUp input[type="checkbox"] {
  width: 22px;
  height: 22px;
  margin-left: 6px;
  background-color: blue;
}
.signUp input[type="submit"] {
  margin-top: 7px;
}
.btn {
  padding: 10px 50px;
  background: #e5e9f4;
  border: none;
  border-radius: 3px;
  transition: 0.5s;
  color: #adb2bd;
  font-family: tajawal;
  cursor: pointer;
  width: 76%;
  margin-bottom: 10px;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.534);
}
.signUp p {
  font-size: 0.7rem;
  color: #5f6263;
  width: 100%;
  text-align: start;
  padding-right: 62px;
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
/* #show-dialog {
  position: absolute;
  z-index: 111;
} */
.hide {
  display: none;
}
p.login {
  font-size: 0.9rem;
  
  margin-right: 7em;
}
p.login img {
  width: 11px;
  position: relative;
  top: 2px;
}
.w{position: relative;}

@media screen and (max-width: 800px) {
  .perd .bags {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-left: 65em;
  }
 
  .perd .head {
    right: -27em;
    /* margin: 0 2em; */
   
    margin: 0 529px;
    /* gap: 55px; */
    position: relative;
}
.links {
  display: flex;
  justify-content: space-between;
  color: #646465;
  background-color: #f9fafc;
  flex-direction: column;
  border: 1px #ccc solid;
  margin: 0;
  width: 30em;
}


  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
    font-size: 15px;
    display: grid;
    grid-template-areas: "Header" "Body" "Footer";
    font-family: 'Tajawal', sans-serif;
    direction: rtl;}

   header {
      grid-area:Header;
    }
    section .all-content {
      grid-area:Body;
    }
   footer {
      grid-area:Footer;
    }
    .boxes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 50px;
      /* margin-right: 33em; */
      right: 10em;
      position: relative;
  }

/*grid*/
.box3 {
  background-color: #8C9399;
  color: #fff;
  border-radius: 5px;
  padding:52px;
  font-size: 150%;
  margin-right: 33em;
}

.a {
 

  grid-column: col ;
  grid-row: row ;
  
}
.b {
  grid-column: col  ;
  grid-row: row 2;
}
.c {
  grid-column: col ;
  grid-row: row 3 ;
}
.d {
  grid-column: col  ;
  grid-row: row 4;
}


.e {
  grid-column: col ;
  grid-row: row 5;
}

.wrapper {
  display: grid;
  grid-gap:10px;
  grid-template-columns: repeat(1, [col] 370px );
  grid-template-rows: repeat(5, [row] 100px );
  background-color: #fff;
  color: #444;
  justify-content: center;
  right: -68em;
  position: relative;
}
footer {
  position: relative;
  /* position: absolute; */
  grid-area: Footer;
  /* margin: -3em 2em; */
  bottom: -39em;
  /* width: 50%; */
}
footer .upper-part {
  position: absolute;
  width: 100%;
  bottom: -89em;
  background-color: #333;
  /* padding: 21px 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}
footer .lower-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: -112em;
  width: 30%;
}

.boxcontainer {
  border-radius: 50px;
  border: 1px solid #000;
  height: 42px;
  width: 203px;
  padding: 0px 10px;
  direction: rtl;
  margin-top: 0em;
  /* margin-top: 5em; */
  margin-left: 0em;
  right: -22em;
  position: relative;
}
.img1 {
  position: relative;
  right: -19em;
}

.card h2 {
  color: darkred;
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
  margin: -9em -2em;
}
.circle, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7 {
  margin-right: -1em;
  margin-top: -12em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}
.slider {
  right: -28em;
  width: 290px;
  height: 400px;
  margin: 11px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
img {
  width: 50px;
  vertical-align: middle;
}
.w {
  position: relative;
  right: -23em;
  bottom: -1em;
}
}